.form-container {
  width: 25vw;
  min-width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.75rem 1.25rem;
  border-radius: 1.8rem;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0 0 30px 0 #cc8f00;

  .form-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: var(--primary-color-hover);
    }
  }
}
