.NavigationPanel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;

  ul {
    list-style: none;
    padding: calc(min(8rem, 10vh)) 0 0 0;
  }

  li {
    & > a {
      display: block;
      color: var(--text-color);
      text-decoration: none;
      font-size: 1.22rem;
      font-weight: bold;
      padding: 1em 1.2em;
      text-transform: uppercase;

      &.active {
        display: block;
        color: var(--bg-color);
        background: var(--primary-color);
        text-decoration: none;
      }
    }
  }

  .nav-container {
    padding: 10px 0 10px 10px;
    margin-left: -100%;
    transition: 1s;

    &.open {
      margin-left: 0;
    }
  }

  .nav-brand {
    display: inline-block;
    font-family: 'Bintton', sans-serif;
    font-size: 4rem;
    color: var(--text-color);
    transform: rotate(-12deg);
  }
}
