.NavigationPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  margin-left: -250px;
  background: var(--bg-color);
  z-index: 10;

  &.open {
    margin-left: 0;

    .nav-menu-icon {
      margin-left: 250px;
      margin-top: -4rem;
    }
  }

  ul {
    list-style: none;
    padding: calc(min(8rem, 10vh)) 0 0 0;
  }

  li {
    & > a {
      display: block;
      color: var(--text-color);
      text-decoration: none;
      font-size: 1.22rem;
      font-weight: bold;
      padding: 1em 1.2em;
      text-transform: uppercase;

      &.active {
        display: block;
        color: var(--bg-color);
        background: var(--primary-color);
        text-decoration: none;
      }
    }
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    padding: 20px 0 20px 20px;
    border-right: solid 3px var(--secondary-color);

    .nav-menu-icon {
      position: fixed;
      top: 1rem;
      left: 1rem;
      font-size: 2.5rem;
      z-index: 9;
      transition: margin var(--menu-transition-time);
    }

    .nav-close-icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2.5rem;

      @media only screen and (min-width: 992px) {
        display: none;
      }
    }

    .nav-collalpse {
      flex: 1 1 auto;
    }
  }

  .nav-social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1em 0;

    & > a {
      font-size: 1.4rem;
      color: var(--text-color);
      text-decoration: none;
    }
  }

  .nav-brand {
    display: inline-block;
    font-family: 'Bintton', sans-serif;
    font-size: 4rem;
    color: var(--text-color);
    transform: rotate(-12deg);
  }
}
