.vehicles-list-cont {
  height: 100vh;
  padding: 0 4rem;
  margin-top: 6vh;
}

.vehi-card {
  width: 30%;
}

.header-det {
  margin-top: 20px;
}

.list-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  width: 84%;
  margin: 2rem auto auto;
}

.list-group-item {
  border: 0 !important;
}

.list-con {
  margin-left: 10px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.viewCard-img-top {
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
}

.viewCard-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 15rem;
  padding-top: 20px;
}

.viewCard-title,
.viewCard-text {
  color: var(--text-color);
}

.vehiLink-button {
  text-decoration: none;
}

.item-icons {
  flex-direction: row;

  /* justify-content: space-around; */
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style-type: none;
  width: 15rem;
}

.socialImg {
  color: #d8d8d9;
  font-size: 30px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  // border-radius: 5px;
  // background-color: var(--primary-color);
  background-color: green;
  width: 3.5rem !important;
  height: 2rem !important;
  background-size: 2rem;
  padding: 2rem;
}

.carousel-control-next-icon {
  border-radius: 2rem 0 0 2rem;
}

.carousel-control-prev-icon {
  border-radius: 0 2rem 2rem 0;
}

.subTitle {
  color: #808080;
}

@media only screen and (max-width: 992px) {
  .list-con {
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none;
  }
}
