.vehiDetails {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 4rem;
  margin-top: 10vh;

  @media only screen and (min-width: 992px) {
    padding: 0 4rem;
  }

  .details-container {
    min-height: 70vh;
  }

  .card-body {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
  }

  .aboutVehi {
    text-align: right;
  }

  .details-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 50vh;
  }

  img {
    border-radius: 20px;
  }

  .vehiCard-title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .card-text {
    font-size: 15px;
  }

  .link-button {
    text-decoration: none;
  }

  .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 1.28rem;
    border-radius: 1.8rem;
    padding: 0.6rem 0.8rem;
    margin-top: 320px;

    &:hover {
      color: var(--bg-color);
    }

    & > svg {
      font-size: 2rem;
    }
  }
}
