.App {
  & > * {
    transition: margin var(--menu-transition-time);
  }

  @media only screen and (min-width: 992px) {
    & > .open + * {
      margin-left: 250px;
    }
  }

  .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 1.28rem;
    border-radius: 1.8rem;
    padding: 0.4rem 1.2rem;

    &:hover {
      color: var(--bg-color);
    }

    & > svg {
      font-size: 2rem;
    }
  }

  td,
  th {
    padding: 0.5rem 2.9rem;
  }

  td {
    font-weight: 500;
  }

  .no-auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    &.orange-background {
      background: var(--orange-color);
      background-image:
        radial-gradient(
          var(--orange-color-tint),
          var(--orange-color)
        );
    }
  }
}
