@import 'http://fonts.cdnfonts.com/css/bintton'

$text-color: #464646
$bg-color: #fff
$primary-color: #98bf11
$primary-color-hover: #7a990e
$secondary-color: #efefef
$border-color: #e5e5e5
$orange-color: #8ecae6
$orange-color-tint: #8d99ae

$menu-transition-time: 0.8s

:root
  --text-color: #{$text-color}
  --bg-color: #{$bg-color}
  --primary-color: #{$primary-color}
  --primary-color-hover: #{$primary-color-hover}
  --secondary-color: #{$secondary-color}
  --menu-transition-time: #{$menu-transition-time}
  --border-color: #{$border-color}
  --orange-color: #{$orange-color}
  --orange-color-tint: #{$orange-color-tint}

$theme-colors: ("primary": $primary-color)

$body-color: $text-color

@import "~bootstrap/scss/bootstrap"
